# Python cache / virtual env
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
*.zip
*.json
*.pkl
*.sav
*.h5

# OS/IDE files
.vscode/
.idea/
.DS_Store
Thumbs.db
